@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/serif');
@import url('https://fonts.cdnfonts.com/css/saira');

                
/* bg-[#3a2350] */
/* [#3a235922] */

* {
    box-sizing: border-box !important;
}

html,
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #ebe6e6;
    color: #000;
}

a {
    color: #ffffff;
}